@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  background-color: #FEFDF6;
}

body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --gold: #FEBA01;
  --bg-color: #FEFDF6;
  --bg-icon: #FFF1C9;
  --lead: #212121;
}


/* basic styling */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}


.wrapper {
  padding: 0px 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}





/* header section  */
/* nav nar */
header {
  height: 14vh;
}

.nav-bar {
  width: 100vw;
  height: 14vh;
}

.nav-bar h1 {
  color: var(--gold);
}

.nav-bar ul li a {
  color: var(--lead);
  font-size: 1.1rem;
  transition: 0.5s;
}

.nav-bar ul li a:hover {
  color: var(--gold);
}

.nav-list-mobile {
  display: none;
}

.nav-list-mobile {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--gold);
  border-radius: 1rem;
  padding: 3rem;
  transition: 0.5s ease-in-out;
}

i {
  cursor: pointer;
}

.nav-list-mobile li {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.bag {
  position: relative;
}

.bag i {
  font-size: 1.2rem;
}

.bag span {
  background: var(--gold);
  position: absolute;
  font-size: 0.85rem;
  width: 20px;
  top: 50%;
  left: 10px;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 20px;
}


.button {
  background: var(--gold);
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: white;
  transition: 0.3s;
  text-align: center;
  box-shadow: rgba(19, 18, 18, 0.212) 0px 5px 10px, inset rgba(19, 18, 18, 0.212) 0px 5px 10px;
}

.button i {
  background-color: #FEBA01;
  transition: 0.3s;
}

.button:hover {
  background: var(--lead);
}

.button:hover .out {
  background-color: var(--lead);
}

.cross {
  color: #FEBA01;
  font-size: 1.5rem;
}

.nav-right .bar {
  display: none;
  color: #FEBA01;
  font-size: 1.3rem;
}

/* main section  */
/* hero-section */

.hero-section {
  width: 100vw;
}

.hero-left {
  height: 100%;
}

.hero-right {
  height: 100%;
  flex-basis: 45%;
}

.hero-right img {
  width: 100%;
}

.hero-left h1 {
  font-size: 5vw;
  color: var(--lead);
  margin-bottom: 2vw;
}

.hero-left h1 span {
  color: var(--gold);
}

.hero-left p {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 3vw;
  line-height: 1.3;
}

.icon i {
  color: var(--lead);
  background-color: transparent;
  font-size: 1.3rem;
  text-align: center;
}

.icon {
  background-color: var(--bg-icon);
  border-radius: 1rem;
  padding: 0.8rem;
  margin-left: 1.5vw;
}

.icon:hover {
  background-color: var(--gold);
}



/* your cart  */
.icl{
  position: absolute;
 inset: 0 -375px 0 auto;
  width: 375px;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

.icl-active{
  inset: 0 0 0 auto;
}

.cart-containor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 0;
  justify-content: space-between;
}

.cart-item{
  display: flex;
  flex-direction: column;
}

.about-item{
 margin: 1vh 0;
}

.about-item .item-name{
  font-size: 1.1rem;
  color: var(--lead);
}

.about-item .item-price{
  color: grey;
  font-weight: 400;
}

.add-btn{
  gap: 5px;
  margin: 0 1.5vh;
  
}
.add-btn i{
  width: 25px;
  background-color: var(--lead);
  color: white;
  font-size: 12px;
  aspect-ratio: 1;
  border-radius: 100vw;
  line-height: 25px;
}

.add-btn .qty{
  color: grey;
  font-size: 20px;
}

.item img{
  width: 85px
}

.cart-item{
  margin-top: 2vh;
}


.cart-bottom{
  margin-top: 5vh;
}

.total{
  background-color: #FEBA01;
  width: 100%;
  text-align: center;
  color: var(--lead);
}

.total h3{
  background-color: #FEBA01;
  padding: 2vh 0;
  font-weight: 500;
}


.total h3 span{
  background-color: #FEBA01;
}

.cart-btn{
  margin: 3vh 0;
}

.cart-btn .btn1{
  background-color: var(--lead);
}

.cart-btn .btn1:hover{
  background-color: var(--gold);
}

/* service section */

.service {
  width: 100vw;
}

.service-containor {
  text-align: center;
  padding-top: 12vw;
}

.service-containor p {
  font-size: 1.2rem;
}

.service-containor h1 {
  font-size: 4vw;
  color: var(--lead);
  margin-bottom: 4vw;
}

.service-para {
  color: #FEBA01;
  font-weight: 500;
  letter-spacing: 2px;
}

.item h2 {
  color: var(--lead);
  margin-bottom: 2vh;
}

.item p {
  font-size: 1.2rem;
  color: grey;
}



/* menu section */

.food-containor{
  display: grid;
 grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 5vh;
}

.food-item{
  border: 2px solid var(--gold);
  border-radius: 2rem;
  height: fit-content;
  padding: 2vh;
  box-shadow: rgba(19, 18, 18, 0.212) 0px 5px 10px, inset rgba(19, 18, 18, 0.212) 0px 5px 10px;
}

.food-item img{
    width:100%;
}

.food-item h2{
  font-size: 2vw;
}
.food-item p{
  color: #FEBA01;
  font-size: 2rem;
  font-weight: 500;
  margin: 2vh 0;
}

.cart-button{
  margin: 2vw auto;
  width: 70%;
}




/* review section  */

.section-review{
  margin: 15vh 0;
  gap: 2vw;
}


.review2{
width: 60%;
}

.review2 h2{
   font-size: 4vw;
  color: var(--lead);
  margin-bottom: 4vw;
}

.review2 p{
   color: #FEBA01;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
}


.person{
  margin-bottom: 2vh;
}

.swiper-slide .person img{
  height: 50px;
  border-radius: 100%;
}

.swiper-slide p{
   font-size: 1.2rem;
  color: grey;
  letter-spacing: 0;
  font-weight: 400;
}
.name-star{
  margin: 0 2vh;
}

.name-star h3{
  color: var(--lead);
  margin-bottom: 1vh;
}

.name-star  i{
  color: var(--gold);
}

.swipe{
 margin-top: 2vh;
}

.arrow i{
  background-color: var(--gold);
  color: var(--lead);
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
  line-height: 30px;
}

/* application sections */

.app-containor{
  background: #FFF1C9;
  padding: 8vh;
  gap: 10vh;
  margin: 5vh 0;
  border-radius: 2rem;
}

.app-left img{
  height: 70vh;
  display: block;
  background-color:#FFF1C9; 
}

.app-right p,.app-right h1, .app-right{
  background-color:#FFF1C9; 
}
.app-right .para1{
    color: #FEBA01;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0;
}

.app-right .para2{
   font-size: 1.2rem;
  color: grey;
  letter-spacing: 0;
  font-weight: 400;
  margin: 6vh 0;
}

.app-right h1{
  font-size: 10vh;
  color: var(--lead);
}


.subscribe-para{
   color: grey;
}

.input{
  margin: 4vh auto;
  width: 45%;
  height: 4rem;
  background-color: white;
  padding: 1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 8px;
}

.input .email{
 width: 100%;
 height: 100%;
 color: grey;
 font-size: 1rem;
 padding: 0 1rem;
 border: none;
}

.input .email:focus{
  outline: none;
}



/* footer section  */

footer{
  margin-top: 20vh;
  background:#FFF1C9;
  width: 100vw;
}


.footer-containor{
   display: grid;
 grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 5vh;
  padding-top: 6.5vh;
  padding-bottom: 6.5vh;
  background-color: #FFF1C9;

}


.footer-containor h1{
  font-size: 4vh;
  color: var(--lead);
  background-color: #FFF1C9;

}

.footer-containor ul li{
  color: grey;
  padding: 2.5vh 0;
  background-color: #FFF1C9;

}

.footer-left{
  background-color: #FFF1C9;
 height: 100%;
}

.footer-left h1{
  color: #FEBA01;
}

.footer-left .icons .icon{
  background-color: white;
  margin-left: 0;
  margin-right: 0.5rem;
}

.footer{
  background-color:#FFF1C9;
}


.footer-left .icons .icon:hover{
  background-color: var(--gold);
}

.footer-left p{
  color: grey;
  padding: 2.5vh 0;

  background-color: #FFF1C9;
  font-size: 1.2rem;
}

.footer-left .icons{
   background-color: #FFF1C9;
  margin:4vh 0;
}



@media screen and (max-width:990px) {

  .nav-bar .nav-list {
    display: none;
  }

  .nav-right .bar {
    display: block;
  }

  .button {
    display: none;
  }

  .pd-mo {
    padding: 0 10%;
  }

  .nav-list-mobile {
    display: block;
  }

  .btn1 {
    display: block;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-left h1 {
    margin-top: 10vh;
    font-size: 8vh;
  }

  .hero-left .icons {
    margin-top: 5vh;
  }

  .btn1 {
    margin-bottom: 5vh;
  }

  .service-containor {
    margin-top: 7vh;
  }

  .service-item {
    flex-direction: column;
  }

  .service-containor .service-h1 {
    font-size: 8vw;
    margin-bottom: 4vh;
  }

  .item h2{
    font-size: 6vw;
  }

  .food-item h2{
     font-size: 4vh;
  }

  .review2{
    margin-top: 8vh;
    width: 100%;
  }


.review2 h2{
  font-size: 6vw;
}

.subscribe{
  margin-top: 8vh;
}
.app-containor{
  flex-direction: column;
}

.app-right h1{
  font-size: 5vh;
}

.app-left img{
 height: 50vh;
}

.input{
  width: 100%;
}
 .input .btn1{
  
  margin: 0.5rem 0;
 }

 .footer-containor{
  padding-top: 10vh;
  padding-bottom: 5vh;
 }

}